---
import Posts from '../components/Posts.astro';
import Navbar from '../components/Navbar.svelte';
import Footer from '../components/Footer.svelte';
import { blogUrl, blogLogo } from '../lib/variables.js';

let title = 'Blog | Amine Amellouk';
let thumbnail = blogLogo;
// let description = 'A blog about programming, Software Development with tutorials and topics discussions mainly about the Back-End and the DevOps';
let description = "I've started this blog to reignite a passion I had stopped doing since many years and one that I've really enjoyed. As a Software Developer, learning is part of the job, while we might retain that knowledge by heart, engineers are problem solvers that understand their craft. Thus as a good practice is blogging and writing documentation about what we've learned which is not just an act of sharing and helping others, actually it's highly recommended we do so as many of us got stuck later on the simelar issues and had to research again resulting in wasted time that could be spent updating what we've already done before and thus becoming effecient with our work";
let permaLink = blogUrl;
---
<html lang="en" data-theme="retro" prefix="og: https://ogp.me/ns/website#">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">

        <link rel="icon" type="image/x-icon" href="/favicon.ico" />

        <!-- Import the global styles file -->
        <link rel="stylesheet" href={Astro.resolve("../assets/global.css")}>

        <title>{title}</title>
        <meta name="description" content={description}>

        <!-- RSS feed -->
        <link rel="alternate" type="application/rss+xml" title="My RSS Feed" href="/rss.xml" />

        <!-- Social media meta -->
        <meta property="og:title" content={title}>
        <meta property="og:type" content="website">
        <meta property="og:url" content={permaLink}>
        <meta property="og:description" content={description}>
        <meta property="og:image" content={thumbnail}>

        <!-- Twitter meta -->
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@aml_amine" />
        <meta name="twitter:title" content="Amine Amellouk's Blog" />
        <meta name="twitter:description" content={description} />
        <meta name="twitter:image" content={thumbnail} />
        <meta name="twitter:image:alt" content={thumbnail}>

        <!-- Google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap" rel="stylesheet">
    </head>
    <body>
        <Navbar />
        
        <Posts />

        <Footer />
        <p class="fixed bottom-0 left-0">These posts are a preview!</p>
    </body>
</html>
